[Match]
Name = wg0

[Network]
Address = 192.168.112.2/20

[Route]
Destination = 2a01:4f9:3b:4e2f:3::/80

[Route]
Destination = 2a01:4f9:3b:4e2f:13::/80
