cert-manager/secret.k8s.yaml  filter=ageencrypt
ingress/pomerium/secret.k8s.yaml  filter=ageencrypt
apps/weechat/ssl/relay.pem  filter=ageencrypt
apps/weechat/ssl/freenode.pem  filter=ageencrypt
apps/weechat/ssl/relay.conf filter=ageencrypt
