_terraform/terraform.tfstate  filter=ageencrypt
_terraform/terraform.tfstate.backup  filter=ageencrypt
cert-manager/secret.k8s.yaml  filter=ageencrypt
pomerium/secret.k8s.yaml  filter=ageencrypt
weechat/ssl/relay.pem  filter=ageencrypt
weechat/ssl/freenode.pem  filter=ageencrypt
weechat/ssl/relay.conf filter=ageencrypt
