apiVersion: apps/v1
kind: Deployment
metadata:
  name: traefik
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  template:
    spec:
      serviceAccountName: traefik
      terminationGracePeriodSeconds: 60
      hostNetwork: false
      securityContext:
        fsGroup: 65532
      containers:
      - image: "traefik:2.4.8"
        imagePullPolicy: IfNotPresent
        name: traefik
        envFrom:
          - secretRef:
              name: traefik
        readinessProbe:
          httpGet:
            path: /ping
            port: 9000
          failureThreshold: 1
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 2
        livenessProbe:
          httpGet:
            path: /ping
            port: 9000
          failureThreshold: 3
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 2
        ports:
        - name: "traefik"
          containerPort: 9000
          protocol: "TCP"
        - name: "web"
          containerPort: 8080
          protocol: "TCP"
        - name: "websecure"
          containerPort: 8443
          protocol: "TCP"
        securityContext:
          capabilities:
            drop:
            - ALL
          readOnlyRootFilesystem: true
          runAsGroup: 65532
          runAsNonRoot: true
          runAsUser: 65532
        volumeMounts:
          - name: data
            mountPath: /data
        args:
          - --entryPoints.traefik.address=:9000/tcp
          - --entryPoints.web.address=:8080/tcp
          - --entryPoints.websecure.address=:8443/tcp
          - --api.dashboard=true
          - --ping=true
          - --providers.kubernetescrd
          - --providers.kubernetesingress
          # - --experimental.kubernetesgateway=true
          # - --providers.kubernetesgateway=true
          # - --certificatesresolvers.default.acme.email=letsencrypt-cluster30@seankhliao.com
          # - --certificatesresolvers.default.acme.storage=/data/letsencrypt.json
          # - --certificatesresolvers.default.acme.keyType=EC256
          - --certificatesresolvers.default.acme.httpchallenge.entrypoint=web
          # - --certificatesresolvers.default.acme.tlschallenge=true
          - --certificatesresolvers.default.acme.email=zerossl-cluster30@seankhliao.com
          - --certificatesresolvers.default.acme.storage=/data/zerossl.json
          - --certificatesresolvers.default.acme.caserver=https://acme.zerossl.com/v2/DV90
          - --certificatesresolvers.default.acme.keyType=EC256
          - --certificatesresolvers.default.acme.eab.kid=$(ZEROSSL_KID)
          - --certificatesresolvers.default.acme.eab.hmacencoded=$(ZEROSSL_HMAC)
          - --tracing.jaeger=true
          - --tracing.jaeger.collector.endpoint=http://jaeger.jaeger.svc.cluster.local:14268/api/traces?format=jaeger.thrift
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: traefik-tls
