kind: Deployment
apiVersion: apps/v1
metadata:
  name: http-server
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
  selector:
    matchLabels:
      app: http-server
  template:
    spec:
      nodeSelector:
        cloud.google.com/gke-preemptible: "true"
      containers:
        - name: http-server
          image: gcr.io/com-seankhliao/http-server:latest
          args:
            - -dir
            - /serve
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: 20m
              memory: 40Mi
            limits:
              cpu: 40m
              memory: 80Mi
          volumeMounts:
            - name: http-server-files
              mountPath: /serve
      volumes:
        - name: http-server-files
          configMap:
            name: http-server-files
